*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
    body{
        scroll-behavior: smooth;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    :root{
        --primary:indianred;
        --secondary:rgba(15,10,29,0.849);
        --light:#2f3640;
    }
    header{
        width: 100%;
        height: 100vh;
    }
    .nav1{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 2px 1px 4px rgb(97, 108, 171);
        text-align: center;
    }
    .nav1 .left{
        flex-basis: 50%;
        letter-spacing: 2px;
    }
    .nav1 .left a{
        text-decoration: none;
        color: var(--primary);
        font-weight: bold;
        margin: 0px 5px ;
    }
    .right{
        flex-basis: 50%;
    }
    .right i{
        font-size: 20px;
        margin: 0px 15px;
        background-color: var(--primary);
        color: white;
        padding: 8px;
        cursor: pointer;
        transition: 2s ease-in-out;
    }
    .nav1 .right i:hover{
        transform: rotate(60rad);
    }
    
    .nav2{
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    
    }
    .nav2 .nav2left, .nav2 .nav2centre, .nav2 .nav2right{
        flex-basis: 30%;
        margin: auto;
        cursor: pointer;
    
    } 
    .nav2 .nav2left i{
        margin-left: 15px;
    }
    .nav2 .nav2centre h1{
    color: var(--primary);
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bold;
    }
    .nav2 .nav2centre p{
       margin-top: 5px;
       font-size: 15px; 
    }
    
    .nav2 .nav2right i{
        margin: 0px 5px;
    }
    .nav3{
        width: 100%;
        height: 70px;
        line-height: 70px;
    
    
    }
    
    .nav3 ul{
        list-style: none;
        text-decoration: none;
        text-align: center;
    
    
    }
    .nav3 ul li{
        display: inline-block;
        width: 150px;
        position: relative;
        z-index: 99;
    }
    .nav3 ul li a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        display:block;
    }
    .nav3 ul li a:hover{
        color: var(--primary);
    }
    .nav3 ul li i{
        color: var(--primary);
        margin: 0px 5px;
    }
    .nav3 ul ul{
        position: absolute;
        top: 70px;
        left: 0;
        display: none;
    }
    .nav3 ul ul li{
        background-color: white;
        border-bottom: 1px solid var(--primary);
    }
    .nav3 ul li:hover>ul{
        display: block;
    }
    .featured{
        width: 100%;
        height: 80vh;
        background: linear-gradient(to right,rgba(0,0,0,1)20%,rgba(255,255,255,0.2)), url("images/dress2.jpeg");
        background-size: contain;
        background-position:top;
        position: relative;
    }
    .featuretext{
        max-width: 500px;
        position: absolute;
        top: 30%;
        left: 10%;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 2rem;
        letter-spacing:5px ;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    }
    .featuretext button{
        padding: 10px 20px;
        border: none;
        outline: none;
        background-color: var(--secondary);
        margin: 20px 0px;
        color: white;
        font-size: 20px;
    }
    .latest{
        padding: 150px 100px;
    }
    .intro{
        text-align: center;
    }
    .intro h1{
        color: var(--primary);
        letter-spacing: 0.2rem;
        font-size: 2rem;
        font-weight: bold;
    }
    .intro h1 span{
        color: var(--secondary);
    }
    .intro p{
        color: grey;
        margin: 15px 0;
    }
    .cardcon{
        width: 100%;
        display: flex;
        justify-items:space-between;
        align-items: center;
        cursor: pointer;
        margin: 4rem 0;
    }
    .cardcon .card{
        flex-basis: 20%;
        padding: 0.8rem;
        position: relative;
    }
    .card img{
        width: 100%;
        height:180px ;
        transition:  ease-in-out;
    }
    .card i{
        color: goldenrod;
        margin: 10px 0;
    }
    .card button{
        color: white;
        background-color: var(--secondary);
        border: none;
        outline: none;
        margin-top: 15px;
        padding: 5px 20px;
    }
    .card:hover img {
        
        height: 10%;
        
    }
    .card:hover h1{
        width: 80%;
    }
    footer{
        background-color: var(--secondary);
        color: white;
        justify-content: space-around;
        display: flex;
       align-items: center;
       flex-wrap: wrap;
       text-align: center;
       padding: 2rem;
    }
    footer div{
        flex-basis: 30%;
    }
    footer h1{
        letter-spacing: 0.5rem;
        
    }
    footer p{
        font-size: 1rem;
    
    }
    footer i{
        margin: 0px 5px;
    }
    #sidenav {
        display: none;
    }
    #menubar{
        display: none;
    }
    @media only screen and (max-width:769px){
        #sidenav{
            display: block;
        }
        #menubar{
            display: block;
            position: absolute;
            top: 100%;
            right: 0;
            transform: translate(0%,-50%);
            z-index:99;
            background-color: var(--primary);
            color: white;
            font-size: 2rem;
            padding: 10px 10px;
            animation: animate 5s ease infinite;
        }
        @keyframes animate{
            0%{
                background-color:var(--secondary) ;
            }
            100%{
                background-color: var(--primary);
            }
        }
        #sidenav{
            width: 0px;
            height: 130vh;
           
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            background-color:var(--light) ;
            padding-top: 70px;
            display: block;
            overflow: hidden;
            transition:0.5s ease-in-out;
            
        
        
        }
        
        #sidenav ul{
            list-style: none;
            text-decoration: none;
            
        
        
        }
        #sidenav ul li{
            display: block;
            width: 200px;
            position: relative;
            z-index: 99;
            margin: 1px 10px;
        }
        #sidenav ul li a {
            text-decoration: none;
            color:white;
            font-weight: 500;
            display:block;
            font-size: 12px;
            padding: 5px 10px;
            
        }
        #sidenav ul li a:hover{
            color: var(--primary);
        }
        #sidenav ul li i{
            color: white;
            margin: 0px 5px;
        }
        #sidenav ul ul{
            position: absolute;
            top: 70px;
            left: 0;
            display: none;
        }
        #sidenav ul ul li{
            
            border-bottom: 1px solid white;
        }
        #sidenav ul li:hover>ul{
            display: block;
        }
        
        
        
        
        .nav1{
           
            position: relative;
            z-index: 2;
            background-color: white;
        }
    
        .right i{
            font-size: 15px;
            margin: 0px 5px;
        }
        .nav2{
            width: 100%;
            height: 80px;
        }
        .nav2 .nav2left i{
            margin-left: 0px;
        }
        .nav2 .nav2centre h1{
            color:var(--primary);
            font-size: 1.5rem ;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .nav2.nav2centre p{
            color: grey;
            font-size: 10px;
    
        }
        .nav3{
            display: none;
        }
        .featured{
            background-attachment: fixed;
        }
        .latest{
            padding:0px 50px ;
        }
        .cardcon{
            margin: 2rem 0;
        }
        .cardcon .card{
            flex-basis: 100%;
            text-align: center;
        }
        footer div{
            flex-basis: 50%;
            margin: 10px 0;
        }
    
    }
    